/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.padding_0{
     padding: 0px;
}

.header_section{
     width: 100%;
     float: left;
     background-image: url(../images/banner-bg.png);
     height: auto;
     background-size: 100%;
}

.logo {
    width: 55%;
    float: left;
}

.bg-light {
    background-color: transparent !important;
}


.navbar-light .navbar-nav .nav-link {
    color: #f7941d;
    font-size: 18px;
    padding: 0px 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.login {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    float: left;
    padding-right: 30px;
}

.login a{
color: #ffffff; 
}

.login a:hover{
color: #f7941d; 
}

.search{

}

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 43px;
}

.powerpoint_text{
     width: 100%;
     float: left;
     font-size: 60px;
     color: #fba813;

}

.information_text{
     width: 100%;
     float: left;
     font-size: 60px;
     font-weight: bold;
     color: #fefeff;
}

.banner_taital{
     width: 55%;
     float: left;
     font-size: 16px;
     color: #fefeff;
     margin-left: 0px;
}

.read_bt{
     width: 100%;
     float: left;
}

.read_bt a{
     width: 15%;
     float: left;
     font-size: 18px;
     color: #ffffff;
     text-align: center;
     padding: 10px;
     background-color: #f7941d;
}

.read_bt a:hover {
    color: #757272;
    background-color: #ffffff;
}

.icons {
    width: 5%;
    float: left;
    background-color: #fff;
    text-align: center;
    position: relative;
    top: -52px;
    padding: 14px 0px 13px 0px;
    left: 148px;
}

.carousel-indicators li {
    width: 45px;
    background-color: #f7941d;
    border-radius: 5px;
    height: 7px;    
}

.about_section{
     width: 100%;
     float: left;
}

.about_text {
    width: 30%;
    float: left;
    background-color: #000;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 60px;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #121213;
    margin-left: 0px;
    padding-top: 30px;
}

.read_bt_2 {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.read_bt_2 a{
     width: 25%;
     float: left;
     font-size: 18px;
     color: #ffffff;
     text-align: center;
     padding: 10px;
     background-color: #f7941d;
}

.read_bt_2 a:hover {
    color: #ffffff;
    background-color: #000;
}

.icons_2 {
    width: 10%;
    float: left;
    background-color: #000;
    text-align: center;
    position: relative;
    top: -52px;
    padding: 14px 0px 13px 0px;
    left: 135px;
}

.image_1{
     width: 100%;
     float: left;
     text-align: center;
}

.services_section{
     width: 100%;
     float: left;   
}

.services_text {
    width: 25%;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    padding-top: 6px;
}

.icon_2{
     width: 100%;
     float: left;
     text-align: center;
}

.storage_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000;
    text-align: center;
    padding-top: 20px;
}

.dummy_text{
     width: 100%;
     float: left;
     font-size: 16px;
     color: #000;
     text-align: center;
     margin-left: 0px;
}

.box_main {
    width: 100%;
    float: left;
    padding: 20px;
}

.box_main:hover {
     background-color: #f7941d;
}

.box_main:hover p {
     color: #fff;
}

.box_main:hover h2 {
     color: #fff;
}


.bt_main {
    width: 17%;
    margin: 0 auto;
    text-align: center;
}

.read_bt_3 {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.read_bt_3 a{
     width: 75%;
     float: left;
     font-size: 18px;
     color: #ffffff;
     text-align: center;
     padding: 10px;
     background-color: #f7941d;
}

.read_bt_3 a:hover {
    color: #ffffff;
    background-color: #000;
}

.icons_3 {
    width: 28%;
    float: left;
    background-color: #000;
    text-align: center;
    position: relative;
    top: -52px;
    padding: 14px 0px 13px 0px;
    left: 135px;
}

.team_section{
     width: 100%;
     float: left;
}

.team_section_2{
     width: 100%;
     float: left;
     background-color: #282e40;
     height: auto;
     padding: 20px 0px;
     margin-top: 90px;
}

.team_main {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.image_3{
     width: 100%;
     float: left;
     text-align: center;
}

.roduk_text{
     width: 100%;
     float: left;
     text-align: center;
     font-size: 24px;
     color: #fffcf4;
     padding-top: 20px;
}

.ceo_text{
     width: 100%;
     float: left;
     text-align: center;
     font-size: 18px;
     color: #df8d29;
     margin-left: 0px;
     margin-top: 0px;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: -90px;
    top: 37%;
    background-color: #ffffff;
    color: #000;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}

#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: #f7941d;
    color: #fff;
}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 102%;
    top: 37%;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #f7941d;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}

.contact_section{
     width: 100%;
     float: left;
}

.contact_section_2{
     width: 100%;
     float: left;

}

.mail_main {
    width: 100%;
    float: left;
    background-color: #e58905;
    height: auto;
    padding: 40px 40px 40px 140px;
}

.email-bt {
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    height: 60px;
    font-size: 16px;
    border-bottom: 1px solid #ffffff;
}

.massage-bt {
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    height: 75px;
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    padding-left: 0px;
}

input.email-bt::placeholder {
    color: #ffffff;
}

textarea#comment.massage-bt::placeholder {
    color: #ffffff;
}

.send_btn {
    width: 100%;
    float: left;
    text-align: right;
}

.main_bt{
     width: 100%;
     float: left;
}

.main_bt a {
    background: #d03410;
    border: none;
    color: #fff;
    height: 50px;
    font-size: 22px;
    width: 25%;
    float: right;
    text-align: center;
    padding-top: 5px;
}

.main_bt a:hover{
     background-color: #ffffff;
     color: #000;
}

.call_main {
    width: 100%;
    float: left;
    padding-top: 25px;
}

.left_main{
     width: 60%;
     float: left;
}

.right_main{
     width: 40%;
     float: left;
}

.call_text{
     width: 100%;
     float: left;
     font-size: 16px;
     color: #ffffff;

}

.demo_text{
     padding-left: 20px;
}

.social_icon{
     width: 100%;
     float: left;
     padding-top: 30px;
}

.social_icon ul{
     margin: 0px;
     padding: 0px;
}

.social_icon li{
     float: left;
     padding-right: 20px;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #1b1b1b;
    height: auto;
    padding-bottom: 90px;
}

.useful_text{
     width: 100%;
     float: left;
     font-size: 40px;
     color: #ffffff;
}

.ipsum_text{
     width: 100%;
     float: left;
     font-size: 16px;
     color: #ffffff;
     margin-left: 0px;
}

.map_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    height: 40px;
    min-width: 100%;
    padding-top: 15px;
}

.padding_left_0{
     padding-left: 15px;
}

.map_text_2 {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    height: 40px;
    padding-top: 47px;
}

.subscribe_main{
     width: 100%;
     float: left;
}

.subscribe_left {
    width: 70%;
    float: left;
    margin-top: 25px;
}

.subscribe_right{
     width: 40%;
     float: left;
}

.input-group-text {
    background-color: #e58905;
    border: 0px;
    color: #fff;
}

.input.form-control::placeholder {
    color: #000;
}

textarea#comment.massage-bt::placeholder {
    color: #ffffff;
}

.social_icon_2 {
    width: 87%;
    float: right;
    text-align: right;
    padding-top: 30px;
}

.social_icon_2 ul{
     margin: 0px;
     padding: 0px;
}

.social_icon_2 li {
    float: left;
    padding-left: 20px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #000;
    margin-left: 0px;
}

.copyright_text a{
     color: #000;
}

.copyright_text a:hover{
     color: #e58905;
}

